# Data Science Notebook

## Introduction
In this notebook, we will explore various important aspects of data science, including programming languages, libraries, tools, and some examples of arithmetic expressions.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala
- Java

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- SciPy
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools
| Tool            | Description                                      |
|-----------------|--------------------------------------------------|
| Jupyter Notebook| Interactive computing environment                |
| RStudio         | IDE for R                                        |
| Apache Hadoop   | Framework for distributed storage and processing |
| Apache Spark    | Unified analytics engine for big data            |
| Tableau         | Data visualization tool                          |

## Arithmetic Expression Examples
Below are examples of basic arithmetic operations such as addition and multiplication.

In [4]:
# Multiplying and adding numbers
result = (5 * 4) + 3
result

23

In [5]:
# Converting minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Understand the basics of data science
- Learn about popular data science languages and libraries
- Perform basic arithmetic operations in Python
- Convert units using Python code

## Author
Sasha Uribe